.bodybackground { 
    background: #f0e4d8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
}
* { 
    font-family: sans-serif;
    box-sizing: border-box;
}

form {
    width: 500px;
    padding: 30px;
    background: #fff;
    border-radius: 15px;

}

h2 { 
    text-align: center; 
    margin-bottom: 40px;
}

input { 
     display: block;
     border: 2px solid #ccc;
     width: 95%;
     padding: 10px;
     margin: 10px auto;
     border-radius: 5px;
}

label { 
     color: #2D2D2B;
     font-size: 15px; 
     padding: 10px;
}

button {
      float: right;
      background: #2D2D2B;
      padding: 10px 15px; 
      color: #fff;
      border-radius: 5px;
      margin-right: 10px;

}

.card-img-left {
    width: 45%;
    height: 80vh;
    background-image: url(images/bg1.jpg);
    background-size: cover;
  }
  
  .card-img-left-2 {
    width: 45%;
    height: 105vh;
    background-image: url(images/bg1.jpg);
    background-size: cover;
  }

  h6 {
    display: block;
    font-size: .70em;
    margin-top: 3.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  
  .datetime{
    color:black;
    width: 340px;
    font-family: "Segou UI", sans-serif;
    padding: 15px 10px;
    transition: 0.5s;
    transition-property: background, box-shadow;

  }

  .datetime:hover{
    background: #2e94e3;
    box-shadow: 0 0 30px #2e94e3;
  }

  .date{
    font-size:20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
  }

  .time{
    font-size:50px;
    display: flex; 
    justify-content: center;
    align-items: center;
  }

  .time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
  }

  .time span:last-child{
   background: #2e94e3;
   font-size: 30px;
   font-weight: 600;
   text-transform: uppercase;
   margin-top: 10px;
   padding: 0 5px;

  }

  .wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 70px 0;
    max-width: 400px;
    margin: 0 auto;
  }

  .menu, .content{
    width: 100%;
  }

  .select{
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 8px;
    border: 2px solid #3f51b5;
    box-shadow: 0 15px 15px #efefef;
    appearance: none;
  }

  .content{
    margin: 30px 0;
  }

  .content .data{
    padding:25px;
    background-color: #fff;
    border: 2px solid #8bc34a;
    border-radius: 8px;
  }

  .content p{
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid gainsboro;
  }

  .content p:last-child{
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .content p b{
    font-weight: 700;
  }